@require './palette';

// Typography
$text-color = palette('Grey', '50');
$text-black = palette('Grey', '900');

// Background
$background = palette('Grey', '900');
$background-footer = palette('Grey', '800');
