@require './colors';
@require './fonts';

html {
  font-size: 16px;
}
body {
  color: $text-color;
  font-family: $font-sans;
  font-weight: lighter;
}
p {
  font-family: $font-mono;
}
a {
  color: $text-color;
  text-decoration: none;
  border-bottom: 1px solid $text-color;
}
pre {
  font-family: Inconsolata, Consolas, Menlo, Monaco, 'Courier New', monospace;
}
