@require '../../stylesheets/colors';

.rodal {
  &-dialog {
    color: $text-black;
    width: 50%;
    height: 80%;
    +tablet() {
      width: 80%;
    }
    +mobile() {
      width: 100%;
      height: 100%;
    }
  }
}
