@import 's-grid-settings'
@import 's-grid-functions'
@import 's-grid-classes'
@import './stylesheets/palette'

body {
  background-color: palette('Grey', '900');
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
